<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <h1>Hello World!</h1>
    <p>This is a paragraph</p>
    <ul>
      <li>Firt item</li>
      <li>Second item</li>
      <li>Third item</li>
    </ul>
  </body>
</html>
